:root{
    --brown: #54494B;
    --yellow:#F2DA79;
    --green: #91C7B1;
    --white: #F7F7F7;
    --red:   #C8553D;
}


nav {
    background-color: white !important;
}

.border-custom{
	border-bottom: 2px solid var(--yellow) !important;   
	box-shadow: 0px 1.5px 6px var(--yellow);
	margin-bottom: 4px;
}


.light-text{
    color: var(--brown) !important;
}

#name > span {
    display: inline-block;
}


#name > span:first-letter {
    font-weight: bold !important; 
}

